.Header {
    border: 1px solid grey;
}

body {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #212529;
    background: #fff;
}
#header {
    background: #fff;
    border-bottom: 4px solid #0dcaf0;
}
.header-top {
    padding: 20px 0;
}
.header-search {
    position: relative;
}
.header-search button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    font-size: 16px;
    background: #fff;
    border: 0;
}
.top-login a {
    color: black;
    font-weight: 500;
    padding: 0 5px;
}
.top-login a:hover {
    color: #0dcaf0;
}
.navbar-dp {
    padding: 0;
}
.navbar-brand {
    width: 180px;
}
.navbar-search,
.navbar-toggler {
    font-size: 20px;
    color: #212529;
    border: 0;
    padding: 5px 10px;
    background: #fff;
}
#search {
    width: 100%;
    padding-top: 10px;
}
.navbar-nav .btn-dp {
    font-size: 16px;
    color: #fff;
}
.navbar-nav li {
    position: relative;
}
.navbar-nav li a {
    color: black;
    display: inline-block;
    padding: 10px 20px !important;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-nav li a:hover,
.navbar-nav li a.active {
    color: #0dcaf0;
    background: #F8F9FA;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0;
}
